In [2]:
import pandas as pd
import dask.dataframe as dd

## Clean datasets

### Connections

In [107]:
connections = pd.read_csv("dataset/connections.csv")

In [108]:
connections.head()

,_id,to,from,type,when
0,22224BFt2JYjZMdTM,mNxJxtSxDdBbTk5Ys,qpAL5TTco2ngd5MEP,kill,2017-11-13T08:46:09.526Z
1,222289Z3tXekEjfj6,o6qjf5jRE8pojbtj7,9BWsYf2ZwkvCEhAHj,marry,2018-03-10T01:53:25.569Z
2,2222GCemwczTXJYnR,ZZcno9u7Ar6HwCwaF,wRLJrt4835QrSfH6A,kill,2017-02-12T23:30:40.327Z
3,2222JhMY3vzRCFNoq,zuCFfviDzDmay65cS,tHqJvGu4gr8KyzoTL,fuck,2017-11-22T10:26:26.791Z
4,2222QjSPkuHwtGr8T,wP5x9ezFuSDGFHg4z,BW4enJFd56AnAMbeW,kill,2017-11-20T18:09:04.745Z

In [93]:
connections = connections.drop('_id', axis = 1)

In [ ]:
connections = connections.dropna()

In [ ]:
connections = connections.drop_duplicates()

In [94]:
connections.shape

(32784726, 4)

In [95]:
connections.dtypes

to      object
from    object
type    object
when    object
dtype: object

In [96]:
connections['when'] = connections.when.astype('datetime64[s]')

In [97]:
connections['type'] = connections.type.astype('category')

In [99]:
con_k = connections[connections.type == 'kill']
con_k.head()

                  to               from  type                when
0  mNxJxtSxDdBbTk5Ys  qpAL5TTco2ngd5MEP  kill 2017-11-13 08:46:09
2  ZZcno9u7Ar6HwCwaF  wRLJrt4835QrSfH6A  kill 2017-02-12 23:30:40
4  wP5x9ezFuSDGFHg4z  BW4enJFd56AnAMbeW  kill 2017-11-20 18:09:04
6  orLJCDxxYhMmK8fHW  LxG3RLDWkReT5KY8H  kill 2018-04-06 21:05:45
8  k9WTTbDjR9BuPhESo  p5EE55fFeTvAyetve  kill 2018-03-28 12:53:30

In [101]:
con_k.shape

(10933676, 4)

In [100]:
con_m = connections[connections.type == 'marry']
con_m.head()

                   to               from   type                when
1   o6qjf5jRE8pojbtj7  9BWsYf2ZwkvCEhAHj  marry 2018-03-10 01:53:25
7   oTrTvnBYdM39soKpj  dwALLCkhnTYquLLZB  marry 2017-03-14 08:30:31
9   ghnYNKdhcWbFnZ62K  gQc7dn2Lb82n4uzYP  marry 2018-12-17 21:35:59
10  zBoYZixZ2hsAnni6j  B4aoEc4Krr7mSWX4h  marry 2016-10-14 15:17:08
15  9AARkH2cEFoJQw6pB  vazhFzjZB9KP5ZJAp  marry 2017-12-16 21:45:27

In [102]:
con_m.shape

(10916195, 4)

In [98]:
con_f = connections[connections.type == 'fuck']
con_f.head()

                   to               from  type                when
3   zuCFfviDzDmay65cS  tHqJvGu4gr8KyzoTL  fuck 2017-11-22 10:26:26
5   YCKwryPgGD5djxCom  NqGYgvbHeowrHba5F  fuck 2018-01-06 22:19:09
13  XD9265zvJJAxfLwBY  t2kz543bCSr3FXMgw  fuck 2017-01-08 10:37:59
14  9JjjgdXEdk5bo8GuK  vo3DuzvwyXKsEBWhC  fuck 2017-08-09 20:23:04
17  LuvmhLmh39r38kw9S  cZw6ycwedShJSiFdp  fuck 2018-04-30 18:08:42

In [103]:
con_f.shape

(10934854, 4)

In [122]:
con_f.to_pickle("dataset/con_f.pkl")

In [123]:
con_k.to_pickle("dataset/con_k.pkl")

In [124]:
con_m.to_pickle("dataset/con_m.pkl")

### Users

In [72]:
users = pd.read_csv("dataset/users.csv")
users.head()

,_id,profile.active,profile.disable,profile.blocked,profile.about,profile.gender,profile.interested_in,profile.age,profile.type,profile.pos.coordinates,...,firstSeen,lastLogin,score,votes_given,sessions,push.enable,uninstalled,stats,previousRank,powerVotes
0,224yPevvKN7heMbNH,0.0,True,NaN,NaN,male,female,32.0,neutral,"[11.3892633,51.4995689]",...,2016-12-18T00:20:57.986Z,2016-12-18T10:03:40.290Z,0.0,6.0,"{""2017"":{""Jan"":{""25"":0,""26"":0,""27"":0,""28"":0,""2...",True,True,"{""fuck"":4,""marry"":5,""kill"":6,""total"":15}",NaN,3.0
1,2252apM9GkLCjPQrN,0.0,True,NaN,NaN,male,female,29.0,neutral,"[-96.6961864,40.8224877]",...,2017-04-22T16:30:23.348Z,2017-05-08T00:56:58.953Z,0.0,48.0,"{""2017"":{""Apr"":{""22"":1,""23"":0,""24"":0,""25"":0,""2...",NaN,True,"{""fuck"":1,""marry"":0,""kill"":5,""total"":6}",NaN,3.0
2,225k2kWBFnWnRMm4H,1.0,False,False,NaN,male,female,29.0,marry,"[-8.6716634,41.2658645]",...,2017-11-25T19:54:27.631Z,2018-08-31T18:12:27.270Z,25.0,699.0,"{""2017"":{""Nov"":{""26"":4,""27"":4,""28"":3,""29"":1,""3...",NaN,False,"{""fuck"":105,""marry"":125,""kill"":24,""total"":254}","{""fuck"":744,""marry"":342,""kill"":3864}",3.0
3,225n4E5AGkqRBx9CP,0.0,True,False,"Vegan, scouts, yoga & Hip-Hop",male,female,21.0,marry,"[-8.940877374261616,37.014026083052165]",...,2017-02-12T02:48:51.919Z,2017-07-18T06:56:20.956Z,0.0,2081.0,"{""2017"":{""Jan"":{},""Feb"":{""12"":6,""13"":13,""14"":1...",True,True,"{""fuck"":113,""marry"":124,""kill"":113,""total"":350}","{""fuck"":83,""marry"":76,""kill"":73}",3.0
4,2269N4HM7ByJiS5QN,1.0,False,False,NaN,male,female,24.0,marry,"[-8.6982481,41.1947986]",...,2018-01-19T22:08:18.869Z,2019-05-25T12:15:55.089Z,25.0,3636.0,"{""2018"":{""Jan"":{""19"":2,""20"":0,""21"":0,""22"":0,""2...",NaN,False,"{""fuck"":230,""marry"":290,""kill"":94,""total"":614}","{""fuck"":2438,""marry"":2438,""kill"":2438}",3.0

In [23]:
users.dtypes

_id                         object
profile.active             float64
profile.disable             object
profile.blocked             object
profile.about               object
profile.gender              object
profile.interested_in       object
profile.age                float64
profile.type                object
profile.pos.coordinates     object
profile.fromInstagram       object
profile.fromFacebook        object
profile.unirace             object
profile.purchased           object
profile.subscription        object
profile.boosted             object
profile.boostable           object
profile.lang                object
profile.record_streak       object
profile.actual_streak       object
firstSeen                   object
lastLogin                   object
score                      float64
votes_given                float64
sessions                    object
push.enable                 object
uninstalled                 object
stats                       object
previousRank                object
powerVotes                 float64
dtype: object

#### Missing values

In [13]:
n_records = len(users)
def missing_values_df(df):
    for column in df:
        print("{} | {} | {}".format(
             column, len(df[df[column].isnull()]) / (1.0*n_records), df[column].dtype
        ))

missing_values_df(users)

_id | 0.0 | object
profile.active | 0.0 | bool
profile.about | 0.0 | object
profile.interested_in | 0.0 | category
profile.age | 0.0 | float64
profile.type | 0.0 | category
profile.pos.coordinates | 0.0 | object
profile.fromInstagram | 0.0 | bool
profile.fromFacebook | 0.0 | bool
profile.unirace | 0.0 | bool
profile.purchased | 0.0 | bool
profile.subscription | 0.0 | bool
profile.boosted | 0.0 | bool
profile.lang | 0.0 | category
profile.record_streak | 0.0 | object
profile.actual_streak | 0.0 | object
firstSeen | 0.0 | datetime64[ns]
lastLogin | 0.0 | datetime64[ns]
score | 0.0 | float64
votes_given | 0.0 | float64
push.enable | 0.0 | bool
uninstalled | 0.0 | bool
previousRank | 0.0 | object
powerVotes | 0.0 | float64
profile.genders | 0.0 | float64

In [75]:
users = users.drop(columns=['profile.disable', 'profile.blocked', 'profile.boostable', 'sessions', 'stats'])

KeyError: "['profile.disable' 'profile.blocked' 'profile.boostable' 'sessions'] not found in axis"

In [80]:
na_list = ['profile.active', 'profile.about', 'profile.gender', 'profile.interested_in', 'profile.age', 'profile.type', \
           'profile.pos.coordinates', 'profile.lang', 'profile.subscription', \
           'profile.record_streak', 'profile.actual_streak', 'score', 'votes_given', \
           'previousRank', 'powerVotes', 'lastLogin', 'firstSeen', 'profile.fromInstagram', \
          'profile.fromFacebook', 'profile.unirace', 'profile.purchased', 'push.enable', 'push.enable',
          'profile.boosted', 'uninstalled']
for column in na_list:
    about = []
    for s in range(len(users)):
        if str(users[column][s]) == 'nan':
            about.append(0.0);
        else:
            about.append(users[column][s])
    users[column]=about

In [318]:
users = users.replace({'profile.about':0.0}, '')
users['profile.about'].unique()

array(['', 'Vegan, scouts, yoga & Hip-Hop', 'I love music', ...,
       'Im single and looking for whatever comes my way',
       'Music, night, beach, office employee, volunteer firefighter',
       'Film Maker, Actor, Musician, Dreamer ‚òÅÔ∏è üìçDubai, UAE'],
      dtype=object)

In [81]:
missing_values_df(users)

_id | 0.0 | object
profile.active | 0.0 | float64
profile.about | 0.0 | object
profile.gender | 0.0 | object
profile.interested_in | 0.0 | object
profile.age | 0.0 | float64
profile.type | 0.0 | object
profile.pos.coordinates | 0.0 | object
profile.fromInstagram | 0.0 | object
profile.fromFacebook | 0.0 | object
profile.unirace | 0.0 | object
profile.purchased | 0.0 | object
profile.subscription | 0.0 | object
profile.boosted | 0.0 | object
profile.lang | 0.0 | object
profile.record_streak | 0.0 | object
profile.actual_streak | 0.0 | object
firstSeen | 0.0 | object
lastLogin | 0.0 | object
score | 0.0 | float64
votes_given | 0.0 | float64
push.enable | 0.0 | object
uninstalled | 0.0 | object
previousRank | 0.0 | object
powerVotes | 0.0 | float64

In [57]:
users.columns

Index(['_id', 'profile.active', 'profile.about', 'profile.gender',
       'profile.interested_in', 'profile.age', 'profile.type',
       'profile.pos.coordinates', 'profile.fromInstagram',
       'profile.fromFacebook', 'profile.unirace', 'profile.purchased',
       'profile.subscription', 'profile.boosted', 'profile.lang',
       'profile.record_streak', 'profile.actual_streak', 'firstSeen',
       'lastLogin', 'score', 'votes_given', 'push.enable', 'uninstalled',
       'stats', 'previousRank', 'powerVotes'],
      dtype='object')

In [82]:
users = users.astype({'profile.fromFacebook':bool, 'profile.fromInstagram':bool,
                     'profile.active':bool, 'profile.boosted':bool, 
                     'push.enable':bool, 'uninstalled':bool, 
                      'profile.unirace':bool, 'profile.purchased':bool, 
                     'profile.gender':'category', 'profile.interested_in':'category',
                     'profile.lang':'category', 'profile.type':'category',
                     'profile.subscription':bool})

In [83]:
num = len(users)
genderlist = []
for x in range(num):
    if (users['profile.gender'][x] == 'female' or users['profile.gender'][x] == 'feminino'
    or users['profile.gender'][x] == 'weiblich'):
        genderlist.append(0.0)
    else:
        genderlist.append(1.0)
        
genderlist
users['profile.genders'] = genderlist

In [84]:
users = users.drop("profile.gender", axis = 1)

In [85]:
users['lastLogin'] = users['lastLogin'].astype('datetime64[s]')
users['firstSeen'] = users['firstSeen'].astype('datetime64[s]')

In [86]:
users.dtypes

_id                                object
profile.active                       bool
profile.about                      object
profile.interested_in            category
profile.age                       float64
profile.type                     category
profile.pos.coordinates            object
profile.fromInstagram                bool
profile.fromFacebook                 bool
profile.unirace                      bool
profile.purchased                    bool
profile.subscription                 bool
profile.boosted                      bool
profile.lang                     category
profile.record_streak              object
profile.actual_streak              object
firstSeen                  datetime64[ns]
lastLogin                  datetime64[ns]
score                             float64
votes_given                       float64
push.enable                          bool
uninstalled                          bool
previousRank                       object
powerVotes                        float64
profile.genders                   float64
dtype: object

In [53]:
#users['profile.about'][users['profile.about'].str.contains('00905398620651')]

161059    00905398620651
Name: profile.about, dtype: object

In [55]:
#users.loc[161059]['profile.about']

'00905398620651'

In [38]:
#users = pd.concat([users, users_text_processed], axis=1)
#del users['profile.about']

In [88]:
users.to_pickle('dataset/users_clean.pkl')

### Messages

In [3]:
messages = pd.read_csv("dataset/messages.csv")

In [4]:
messages.head()

,_id,matchId,createdAt,user._id,image
0,222BN7deQWFPRWTyY,72iqMTRwgN9JJQsBg,2017-11-27T01:25:54.689Z,1,NaN
1,222FGrGszSFXxnH8w,fR82mGRAGjB8W9qHK,2018-09-20T23:46:50.220Z,2,NaN
2,222NmogaQYwqbsuiy,nREZaG5H7eZXz2Drx,2019-01-12T21:11:10.254Z,2,NaN
3,222QTaFPpfAkm7J8S,nQ775HxkhFHvkt5we,2017-10-22T19:11:15.002Z,1,NaN
4,222R5ohwFrBc3CTgy,dsACp6BCGiqRamkFe,2018-10-15T23:01:06.619Z,2,NaN

In [5]:
messages = messages.drop(['image'], axis=1)

In [31]:
#pd.to_datetime(messages.createdAt).apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))

In [19]:
messages_match = messages.groupby(['matchId', 'user._id'], as_index=False).count()[['matchId', 'user._id', '_id']]
messages_match = messages_match.rename(columns={'_id': 'num_messages'})

In [20]:
messages_match.columns

Index(['matchId', 'user._id', 'num_messages'], dtype='object')

In [18]:
messages_match.columns

Index(['num_messages'], dtype='object')

In [21]:
num1 = []
num2 = []
for i in range(len(messages_match)):
    if messages_match['user._id'][i] == 1:
        num1.append(messages_match['num_messages'][i])
        num2.append(0)
    else:
        num2.append(messages_match['num_messages'][i])
        num1.append(0)

In [22]:
messages_match['message_user1'] = num1
messages_match['message_user2'] = num2
messages_match.head(30)

              matchId  user._id  num_messages  message_user1  message_user2
0   222RryHijNnWqcmcY         2             1              0              1
1   2237TgzZo2g5QzPdx         1             1              1              0
2   2237ZZ7jaaSTyTKQv         2             1              0              1
3   223HCL8ztLRD5a7EX         2             1              0              1
4   223yF87BJ5txhtfzM         1             1              1              0
5   2248C68y7NmDz2WBp         1             2              2              0
6   2248C68y7NmDz2WBp         2             1              0              1
7   224B8gXhpZr7AwaFM         1             1              1              0
8   225STJnMy5zPGqacG         1             6              6              0
9   225STJnMy5zPGqacG         2             2              0              2
10  226RMCYzRoxXEiNQi         2             2              0              2
11  226XidjxKGaYw7yES         2             1              0              1
12  2272oyfsLJX24rbyS         1             7              7              0
13  2272oyfsLJX24rbyS         2             8              0              8
14  227RYxCF9dNZmxBJg         2             1              0              1
15  227hsgTAzHpRJBw7P         1             6              6              0
16  227hsgTAzHpRJBw7P         2             6              0              6
17  227vBnuFn7Q9vm9kG         2             1              0              1
18  227vdB74f9Wu3pSus         2             1              0              1
19  228CsMa7WFFu7tchK         2             2              0              2
20  228Lqe4YmzRro6R7A         2             2              0              2
21  228ngfZYYyYn5ikGH         1             4              4              0
22  228ngfZYYyYn5ikGH         2             5              0              5
23  229Enemq6iFTygasC         2             2              0              2
24  229NcP37R6xqjpHY3         2             1              0              1
25  229SCWQiPPYFyy74r         1             1              1              0
26  22B9yizoJP5MEfQbb         2             1              0              1
27  22BvmuSf8f45q297F         2             1              0              1
28  22CPHrwNA5Yv5gHi5         1             5              5              0
29  22CPHrwNA5Yv5gHi5         2             5              0              5

In [23]:
messages_match = messages_match.groupby('matchId').sum()
messages_match = messages_match.drop(columns=['user._id'])

In [24]:
messages_match.head(30)

                   num_messages  message_user1  message_user2
matchId
222RryHijNnWqcmcY             1              0              1
2237TgzZo2g5QzPdx             1              1              0
2237ZZ7jaaSTyTKQv             1              0              1
223HCL8ztLRD5a7EX             1              0              1
223yF87BJ5txhtfzM             1              1              0
2248C68y7NmDz2WBp             3              2              1
224B8gXhpZr7AwaFM             1              1              0
225STJnMy5zPGqacG             8              6              2
226RMCYzRoxXEiNQi             2              0              2
226XidjxKGaYw7yES             1              0              1
2272oyfsLJX24rbyS            15              7              8
227RYxCF9dNZmxBJg             1              0              1
227hsgTAzHpRJBw7P            12              6              6
227vBnuFn7Q9vm9kG             1              0              1
227vdB74f9Wu3pSus             1              0              1
228CsMa7WFFu7tchK             2              0              2
228Lqe4YmzRro6R7A             2              0              2
228ngfZYYyYn5ikGH             9              4              5
229Enemq6iFTygasC             2              0              2
229NcP37R6xqjpHY3             1              0              1
229SCWQiPPYFyy74r             1              1              0
22B9yizoJP5MEfQbb             1              0              1
22BvmuSf8f45q297F             1              0              1
22CPHrwNA5Yv5gHi5            10              5              5
22CQnqzbenMYNccKB             8              5              3
22Ck8kaFsCBtRSpHT             1              1              0
22Cwd9uJxcah3MgnX             1              0              1
22E9vJzrvDtwfLSbW             1              0              1
22ENcfDx6Rip28tSW             2              0              2
22FMWjijzMNudWmhW             1              0              1

In [78]:
messages_match.to_pickle("dataset/messages_match.pkl")

### Match separated

In [328]:
match_sep = pd.read_csv("dataset/matches_separated.csv")
match_sep.head()

,_id,matchid,type,when,userid
0,222JjMBoD6JqeJeRe,xMNuz6Aj9kqpjiaEz,fuck,2018-11-09T10:58:28.964Z,Ey8FWmLgmT6AiW9Ye
1,222PdHXyqBwcx3RNn,JjELwSCwJJgNdgZdh,kill,2018-07-03T05:24:43.122Z,NQ5KSNLx4CXu6HS5Y
2,222RvFXyxj2JmEZhS,QBMAGYAwEeLCxLT56,kill,2017-11-06T09:32:26.579Z,jjbhusRAkZwMMznuk
3,222ScG5EdXyRiBcxK,RteWRWXCzipppLMyF,fuck,2018-01-22T01:03:20.883Z,xz7izY8gAMbwrPyCX
4,222bfXQEktsW4QoCG,cXcoCKDMyCsiA2Zft,fuck,2017-08-28T15:05:39.989Z,83YFzzB4ofAY8Wcxv

In [111]:
match_sep.shape

(1659293, 5)

In [329]:
match_sep = match_sep.drop('_id', axis=1)

In [330]:
match_sep = match_sep.dropna()

### Matches

In [7]:
matches = pd.read_csv("dataset/matches.csv")
matches.head()

,_id,first,second,type,disabled,unread,when,last_action,hidden,firstMessage.userid
0,222JvGYF9zsXjwLr3,MRbsqSiqeZuAwtvrk,6JLKbTAfxkc3ZXHe9,fuck,False,-1,2017-11-06T20:46:03.581Z,2017-11-06T20:46:03.581Z,True,NaN
1,222RryHijNnWqcmcY,q3pfQyrqukyfqXc4S,4kppDPGXddpdNp6Z4,marry,False,1,2016-10-30T12:39:58.779Z,2016-10-30T12:40:16.311Z,False,4kppDPGXddpdNp6Z4
2,222Sy3ziyXF36mgYK,GCzNzBZvEYu6cLkrB,iMSNELpJHq3mcXdSf,kill,False,-1,2018-10-07T17:02:42.856Z,2018-10-07T17:02:42.856Z,False,NaN
3,222c7tkmo2bzerpt3,bFq3hLoH4C8LtpfLd,LCMWH9rEudQtdGkTe,marry,False,-1,2017-11-11T21:52:06.246Z,2017-11-11T21:52:06.246Z,False,NaN
4,2237HymQ3munTgj84,hDXJDLirEyBvJdwR4,yzrv7EDrP6Fyqn5Fv,marry,False,-1,2017-09-04T11:59:28.779Z,2017-09-04T11:59:28.779Z,False,NaN

In [183]:
len(matches['first'].unique())

65767

In [36]:
matches['type'] = matches.type.astype('category')
matches['when'] = matches.when.astype('datetime64[s]')
matches['last_action'] = matches.last_action.astype('datetime64[s]')

In [38]:
matches['message'] = matches['firstMessage.userid'].notnull()

In [ ]:
matches = matches[matches['first'].notnull()]

In [337]:
matches = matches.rename(columns={'_id': 'matchid'})

In [338]:
matches.to_pickle('dataset/matches.pkl')

### Check matches and match_sep

In [335]:
matches = pd.read_pickle('dataset/matches_nullsdropped.pkl')

In [30]:
matches.shape

(859261, 11)

In [131]:
match_sep.shape

(1659293, 4)

In [333]:
match_sep.groupby('matchid').count()[match_sep.groupby('matchid').count().userid != 2] #[match_sep.matchid=='222JvGYF9zsXjwLr3']

                   type  when  userid
matchid
73sM8xCvJGz3WtH3W     1     1       1
BvKELsBcD6pS4GwjL     1     1       1
DzziAJeLN5YhFmcXa     4     4       4
QPKkScuBTcJaNXLh8     1     1       1
br8mBKY7nZjHYXT9y     3     3       3
iNZ7fxgARC4SvhHDj     4     4       4

In [339]:
matches[matches.matchid=='73sM8xCvJGz3WtH3W']

,matchid,first,second,type,disabled,unread,when,last_action,hidden,firstMessage.userid,message
78402,73sM8xCvJGz3WtH3W,BnpDYgYxJWJandztW,b6uJrRBMrtyjfW5XB,fuck,False,0,2017-10-21 07:59:34,2017-10-21 21:57:30,False,b6uJrRBMrtyjfW5XB,True

In [141]:
match_sep[match_sep.matchid=='73sM8xCvJGz3WtH3W']

                   matchid  type                when             userid
1518948  73sM8xCvJGz3WtH3W  fuck 2017-10-21 07:59:34  b6uJrRBMrtyjfW5XB

In [176]:
matches[matches.matchid=='QPKkScuBTcJaNXLh8']

,matchid,first,second,type,disabled,unread,when,last_action,hidden,firstMessage.userid,message
350391,QPKkScuBTcJaNXLh8,ZBkDiGcJfffixRbd5,udrGuAjurmTaCr5oH,fuck,False,0,2017-10-19 20:48:28,2017-10-19 20:54:03,True,udrGuAjurmTaCr5oH,True

In [177]:
match_sep[match_sep.matchid=='QPKkScuBTcJaNXLh8']

                 matchid  type                when             userid
45885  QPKkScuBTcJaNXLh8  fuck 2017-10-19 20:48:28  ZBkDiGcJfffixRbd5

match_sep is missing user 'BnpDYgYxJWJandztW' for match id '73sM8xCvJGz3WtH3W' and user 'udrGuAjurmTaCr5oH' for match id 'QPKkScuBTcJaNXLh8'

In [178]:
messages[messages.index=='QPKkScuBTcJaNXLh8']

                   num_messages  message_user1  message_user2
matchId
QPKkScuBTcJaNXLh8             1              1              0

In [179]:
messages[messages.index=='73sM8xCvJGz3WtH3W']

                   num_messages  message_user1  message_user2
matchId
73sM8xCvJGz3WtH3W            12              7              5

add user 'BnpDYgYxJWJandztW' for match id '73sM8xCvJGz3WtH3W'

In [324]:
extra = {'matchid': '73sM8xCvJGz3WtH3W', 'type': 'fuck', 'when': '2017-10-21 07:59:34', 'userid':'BnpDYgYxJWJandztW'}

In [340]:
match_sep = match_sep.append(extra, ignore_index=True)

In [182]:
match_sep[match_sep.matchid=='73sM8xCvJGz3WtH3W']

                   matchid  type                 when             userid
1518942  73sM8xCvJGz3WtH3W  fuck  2017-10-21 07:59:34  b6uJrRBMrtyjfW5XB
1659287  73sM8xCvJGz3WtH3W  fuck  2017-10-21 07:59:34  BnpDYgYxJWJandztW

In [183]:
match_sep.dtypes

matchid    object
type       object
when       object
userid     object
dtype: object

In [143]:
match_sep[match_sep.matchid=='DzziAJeLN5YhFmcXa']

                  matchid  type                when             userid
103258  DzziAJeLN5YhFmcXa  fuck 2017-09-15 14:50:24  3fejY7RGEyg58KCDS
233996  DzziAJeLN5YhFmcXa  fuck 2017-09-15 14:50:24  g9vdi3y66gsSL4mbx
644961  DzziAJeLN5YhFmcXa  fuck 2017-09-15 14:50:24  g9vdi3y66gsSL4mbx
754846  DzziAJeLN5YhFmcXa  fuck 2017-09-15 14:50:24  3fejY7RGEyg58KCDS

remove duplicates

In [155]:
match_sep[match_sep.duplicated(subset=['matchid', 'when', 'userid'])]

                   matchid   type                when             userid
449123   iNZ7fxgARC4SvhHDj  marry 2017-09-15 14:49:17  HuH77gHHQEGZG7hHp
644961   DzziAJeLN5YhFmcXa   fuck 2017-09-15 14:50:24  g9vdi3y66gsSL4mbx
754846   DzziAJeLN5YhFmcXa   fuck 2017-09-15 14:50:24  3fejY7RGEyg58KCDS
966291   hCuM9x4zrfYbfhj7d  marry 2017-02-08 10:17:46  4iP63bqH62gBWzc4A
1423945  iNZ7fxgARC4SvhHDj  marry 2017-09-15 14:49:17  JbXHBCR2gAGxcKrG3

In [149]:
match_sep[match_sep.matchid=='iNZ7fxgARC4SvhHDj']

                   matchid   type                when             userid
401234   iNZ7fxgARC4SvhHDj  marry 2017-09-15 14:49:17  HuH77gHHQEGZG7hHp
449123   iNZ7fxgARC4SvhHDj  marry 2017-09-15 14:49:17  HuH77gHHQEGZG7hHp
883344   iNZ7fxgARC4SvhHDj  marry 2017-09-15 14:49:17  JbXHBCR2gAGxcKrG3
1423945  iNZ7fxgARC4SvhHDj  marry 2017-09-15 14:49:17  JbXHBCR2gAGxcKrG3

In [150]:
match_sep[match_sep.matchid=='hCuM9x4zrfYbfhj7d']

                  matchid   type                when             userid
448777  hCuM9x4zrfYbfhj7d  marry 2017-02-08 10:17:46  4iP63bqH62gBWzc4A
966291  hCuM9x4zrfYbfhj7d  marry 2017-02-08 10:17:46  4iP63bqH62gBWzc4A

In [151]:
matches[matches.matchid=='hCuM9x4zrfYbfhj7d']

,matchid,first,second,type,disabled,unread,when,last_action,hidden,firstMessage.userid,message
581288,hCuM9x4zrfYbfhj7d,4iP63bqH62gBWzc4A,4iP63bqH62gBWzc4A,marry,True,-1,2017-02-08 10:17:46,2017-02-08 10:17:46,False,NaN,False

Drop all duplicates and drop matchid 'hCuM9x4zrfYbfhj7d'

In [341]:
match_sep = match_sep.drop_duplicates()

In [165]:
match_sep[match_sep.duplicated(subset=['matchid', 'when', 'userid'])]

Empty DataFrame
Columns: [matchid, type, when, userid]
Index: []

In [342]:
match_sep = match_sep[match_sep.matchid!='hCuM9x4zrfYbfhj7d']

In [170]:
matches[matches.matchid=='BvKELsBcD6pS4GwjL']

,matchid,first,second,type,disabled,unread,when,last_action,hidden,firstMessage.userid,message
154727,BvKELsBcD6pS4GwjL,NaN,jS2mXKC5j6MS9nmGz,wink,False,-1,2017-08-21 00:27:33,2017-08-21 00:27:33,True,NaN,False

In [171]:
match_sep[match_sep.matchid=='BvKELsBcD6pS4GwjL']

                  matchid  type                when             userid
158122  BvKELsBcD6pS4GwjL  wink 2017-08-21 00:27:33  jS2mXKC5j6MS9nmGz
491253  BvKELsBcD6pS4GwjL  wink 2017-08-21 00:27:33                NaN

In [174]:
matches[matches.matchid=='br8mBKY7nZjHYXT9y']

,matchid,first,second,type,disabled,unread,when,last_action,hidden,firstMessage.userid,message
497630,br8mBKY7nZjHYXT9y,ZhhrC8CkR57tSARAm,BnpDYgYxJWJandztW,fuck,False,0,2017-10-20 18:53:08,2017-10-20 18:53:30,False,ZhhrC8CkR57tSARAm,True

In [175]:
match_sep[match_sep.matchid=='br8mBKY7nZjHYXT9y']

                   matchid  type                when             userid
53485    br8mBKY7nZjHYXT9y  fuck 2017-10-21 07:59:34  BnpDYgYxJWJandztW
996239   br8mBKY7nZjHYXT9y  fuck 2017-10-20 18:53:08  ZhhrC8CkR57tSARAm
1130293  br8mBKY7nZjHYXT9y  fuck 2017-10-20 18:53:08  BnpDYgYxJWJandztW

In [343]:
match_sep.when = match_sep.when.astype('datetime64[s]')

In [344]:
match_sep.type = match_sep.type.astype('category')

In [360]:
match_sep.dtypes

matchid            object
type             category
when       datetime64[ns]
userid             object
dtype: object

In [361]:
match_sep.to_pickle('dataset/match_sep.pkl')

add second user information in the match:

In [345]:
match_both = matches[['matchid', 'first', 'second']]

In [346]:
match_merge = pd.merge(match_sep, match_both, left_on='matchid', right_on='matchid', how='left')

In [347]:
match_merge.head()

,matchid,type,when,userid,first,second
0,xMNuz6Aj9kqpjiaEz,fuck,2018-11-09 10:58:28,Ey8FWmLgmT6AiW9Ye,Ey8FWmLgmT6AiW9Ye,pvv8NCcC3PpGzs8Wg
1,JjELwSCwJJgNdgZdh,kill,2018-07-03 05:24:43,NQ5KSNLx4CXu6HS5Y,hEP6agiY2pNESyavC,NQ5KSNLx4CXu6HS5Y
2,QBMAGYAwEeLCxLT56,kill,2017-11-06 09:32:26,jjbhusRAkZwMMznuk,nNex8aQxLCbgyFnCG,jjbhusRAkZwMMznuk
3,RteWRWXCzipppLMyF,fuck,2018-01-22 01:03:20,xz7izY8gAMbwrPyCX,xz7izY8gAMbwrPyCX,cXXvTdQNtLc3fpWn9
4,cXcoCKDMyCsiA2Zft,fuck,2017-08-28 15:05:39,83YFzzB4ofAY8Wcxv,83YFzzB4ofAY8Wcxv,h4DTjF5bCTzan7fZP

In [348]:
accept = []
for i in range(len(match_merge)):
    if match_merge.userid[i]==match_merge['first'][i]:
        accept.append(match_merge.second[i])
    else:
        accept.append(match_merge['first'][i])
accept[:10]

['pvv8NCcC3PpGzs8Wg',
 'hEP6agiY2pNESyavC',
 'nNex8aQxLCbgyFnCG',
 'cXXvTdQNtLc3fpWn9',
 'h4DTjF5bCTzan7fZP',
 'qtaYb35sKzzq2FTAz',
 'cHYXpZcwgewureeZS',
 'NkPr3dCNdfrXnPMQi',
 'DSSZTk87braTDretb',
 'zCxXy25eyeHg2kkbR']

In [349]:
match_merge['accept'] = accept
match_merge.head()

,matchid,type,when,userid,first,second,accept
0,xMNuz6Aj9kqpjiaEz,fuck,2018-11-09 10:58:28,Ey8FWmLgmT6AiW9Ye,Ey8FWmLgmT6AiW9Ye,pvv8NCcC3PpGzs8Wg,pvv8NCcC3PpGzs8Wg
1,JjELwSCwJJgNdgZdh,kill,2018-07-03 05:24:43,NQ5KSNLx4CXu6HS5Y,hEP6agiY2pNESyavC,NQ5KSNLx4CXu6HS5Y,hEP6agiY2pNESyavC
2,QBMAGYAwEeLCxLT56,kill,2017-11-06 09:32:26,jjbhusRAkZwMMznuk,nNex8aQxLCbgyFnCG,jjbhusRAkZwMMznuk,nNex8aQxLCbgyFnCG
3,RteWRWXCzipppLMyF,fuck,2018-01-22 01:03:20,xz7izY8gAMbwrPyCX,xz7izY8gAMbwrPyCX,cXXvTdQNtLc3fpWn9,cXXvTdQNtLc3fpWn9
4,cXcoCKDMyCsiA2Zft,fuck,2017-08-28 15:05:39,83YFzzB4ofAY8Wcxv,83YFzzB4ofAY8Wcxv,h4DTjF5bCTzan7fZP,h4DTjF5bCTzan7fZP

In [350]:
match_merge = match_merge.drop(['first', 'second'], axis=1)

In [351]:
match_merge.to_pickle('dataset/match_merge.pkl')

## Merging

In [321]:
messages = pd.read_pickle("dataset/messages_match.pkl")
users = pd.read_pickle("dataset/users_clean.pkl")
match_merge = pd.read_pickle('dataset/match_merge.pkl')

In [4]:
con = pd.read_pickle('dataset/nonullconnections.pkl')

KeyboardInterrupt:

In [41]:
# del users_d['profile.about']

### Merging 'connections' with user information

In [5]:
con_user = con.merge(users, left_on='from', right_on='_id', how='left')

In [368]:
con_user.head()

,_id_x,to,from,type,when,_id_y,profile.active,profile.about,profile.interested_in,profile.age,...,profile.actual_streak,firstSeen,lastLogin,score,votes_given,push.enable,uninstalled,previousRank,powerVotes,profile.genders
0,22224BFt2JYjZMdTM,mNxJxtSxDdBbTk5Ys,qpAL5TTco2ngd5MEP,kill,2017-11-13 08:46:09,qpAL5TTco2ngd5MEP,False,come on,female,26.0,...,0,2017-11-13 08:01:07,2017-11-13 12:29:24,0.0,252.0,True,True,0,3.0,1.0
1,222289Z3tXekEjfj6,o6qjf5jRE8pojbtj7,9BWsYf2ZwkvCEhAHj,marry,2018-03-10 01:53:25,9BWsYf2ZwkvCEhAHj,False,insta -> biamaia_19,male,20.0,...,"{""type"":""fuck"",""votes"":6}",2017-10-23 15:14:18,2019-02-21 23:21:20,25.0,1381.0,False,True,"{""fuck"":470,""marry"":470,""kill"":470}",0.0,0.0
2,2222GCemwczTXJYnR,ZZcno9u7Ar6HwCwaF,wRLJrt4835QrSfH6A,kill,2017-02-12 23:30:40,wRLJrt4835QrSfH6A,False,,female,23.0,...,0,2016-12-22 11:26:48,2017-04-25 09:01:46,0.0,1041.0,True,True,0,3.0,1.0
3,2222JhMY3vzRCFNoq,zuCFfviDzDmay65cS,tHqJvGu4gr8KyzoTL,fuck,2017-11-22 10:26:26,tHqJvGu4gr8KyzoTL,False,,female,29.0,...,"{""type"":""marry"",""votes"":1}",2017-05-24 21:36:25,2018-03-11 22:46:42,25.0,40494.0,True,True,"{""fuck"":2816,""marry"":2990,""kill"":1575}",0.0,1.0
4,2222QjSPkuHwtGr8T,wP5x9ezFuSDGFHg4z,BW4enJFd56AnAMbeW,kill,2017-11-20 18:09:04,BW4enJFd56AnAMbeW,False,,female,23.0,...,"{""type"":""marry"",""votes"":2}",2017-11-18 22:36:20,2019-05-24 02:37:28,25.0,2045.0,True,True,"{""fuck"":2462,""marry"":2462,""kill"":2462}",3.0,1.0

In [6]:
con_user = con_user[-con_user['profile.about'].isnull()]

In [7]:
con_user = con_user.drop(['_id_x', '_id_y'], axis=1)

In [8]:
con_user.to_pickle('dataset/con_user.pkl')

### Merging with 'matches'

In [9]:
con_user.head()

,to,from,type,when,profile.active,profile.about,profile.interested_in,profile.age,profile.type,profile.pos.coordinates,...,profile.actual_streak,firstSeen,lastLogin,score,votes_given,push.enable,uninstalled,previousRank,powerVotes,profile.genders
0,mNxJxtSxDdBbTk5Ys,qpAL5TTco2ngd5MEP,kill,2017-11-13 08:46:09,False,come on,female,26.0,neutral,"[0,0]",...,0,2017-11-13 08:01:07,2017-11-13 12:29:24,0.0,252.0,True,True,0,3.0,1.0
1,o6qjf5jRE8pojbtj7,9BWsYf2ZwkvCEhAHj,marry,2018-03-10 01:53:25,False,insta -> biamaia_19,male,20.0,fuck,"[-7.9711585,40.7263597]",...,"{""type"":""fuck"",""votes"":6}",2017-10-23 15:14:18,2019-02-21 23:21:20,25.0,1381.0,False,True,"{""fuck"":470,""marry"":470,""kill"":470}",0.0,0.0
2,ZZcno9u7Ar6HwCwaF,wRLJrt4835QrSfH6A,kill,2017-02-12 23:30:40,False,,female,23.0,marry,"[6.7947676,50.8113247]",...,0,2016-12-22 11:26:48,2017-04-25 09:01:46,0.0,1041.0,True,True,0,3.0,1.0
3,zuCFfviDzDmay65cS,tHqJvGu4gr8KyzoTL,fuck,2017-11-22 10:26:26,False,,female,29.0,fuck,"[-9.2115885,38.7417719]",...,"{""type"":""marry"",""votes"":1}",2017-05-24 21:36:25,2018-03-11 22:46:42,25.0,40494.0,True,True,"{""fuck"":2816,""marry"":2990,""kill"":1575}",0.0,1.0
4,wP5x9ezFuSDGFHg4z,BW4enJFd56AnAMbeW,kill,2017-11-20 18:09:04,False,,female,23.0,fuck,"[-8.1415383,41.6335751]",...,"{""type"":""marry"",""votes"":2}",2017-11-18 22:36:20,2019-05-24 02:37:28,25.0,2045.0,True,True,"{""fuck"":2462,""marry"":2462,""kill"":2462}",3.0,1.0

In [292]:
match_con = con_user.merge(match_merge, left_on=['from', 'to', 'type'], right_on=['userid', 'accept', 'type'], how='left')

In [293]:
#match_con = match_con.drop('_id', axis=1)
match_con.head()

,matchid,type,when,userid,accept,profile.active,profile.about,profile.interested_in,profile.age,profile.type,...,profile.actual_streak,firstSeen,lastLogin,score,votes_given,push.enable,uninstalled,previousRank,powerVotes,profile.genders
0,6W8wZvAackBy8QbXA,fuck,2017-11-20 05:31:58,anHjtBnJ5p4yynfBG,eGAKWBqAi9Qmk2zDP,True,,male,19.0,fuck,...,"{""type"":""kill"",""votes"":2}",2017-01-17 07:31:27,2018-06-09 08:03:20,25.0,1804.0,False,False,"{""fuck"":816,""marry"":816,""kill"":816}",3.0,0.0
1,NzPRKzAWbJZZnGANn,fuck,2016-11-13 04:06:51,oTrTvnBYdM39soKpj,yv3a69KjBdao4pyuE,False,,male,22.0,marry,...,0,2016-10-31 22:57:36,2017-04-23 16:21:48,0.0,802.0,True,True,0,3.0,0.0
2,RAZ5PX4ryZqQNm4Hb,fuck,2017-10-27 12:17:49,XSjQDhPurH9rJyocF,cfrJ92XyKNonBej3W,False,,male,18.0,marry,...,0,2017-10-27 12:12:04,2017-12-05 23:36:45,0.0,147.0,False,True,"{""fuck"":561,""marry"":242,""kill"":504}",3.0,0.0
3,2E69YFoBMqqPZ4gju,fuck,2017-10-19 20:04:11,7FqakxnPZWh3gxTgT,zeMhtN7DuJjQcsopT,True,,male,23.0,marry,...,0,2017-10-19 20:00:19,2017-11-01 23:34:06,0.0,167.0,False,False,"{""fuck"":489,""marry"":400,""kill"":279}",3.0,0.0
4,oTFWo7PqZFPdLbmFf,fuck,2017-11-22 12:16:11,ftNfRL3rxjMr57ESH,BkZ4T44JANR2T2ZQt,False,...,male,27.0,neutral,...,"{""type"":""kill"",""votes"":3}",2017-11-12 20:31:06,2018-12-01 19:51:35,25.0,381.0,True,True,"{""fuck"":518,""marry"":518,""kill"":518}",3.0,0.0

In [294]:
match_con.shape#[0].compute()

KeyboardInterrupt:

In [197]:
match_con.columns

Index(['matchid', 'type', 'when', 'userid', 'profile.active', 'profile.about',
       'profile.interested_in', 'profile.age', 'profile.type',
       'profile.pos.coordinates', 'profile.fromInstagram',
       'profile.fromFacebook', 'profile.unirace', 'profile.purchased',
       'profile.subscription', 'profile.boosted', 'profile.lang',
       'profile.record_streak', 'profile.actual_streak', 'firstSeen',
       'lastLogin', 'score', 'votes_given', 'push.enable', 'uninstalled',
       'previousRank', 'powerVotes', 'profile.genders'],
      dtype='object')

Note: variables ending with 'x' are those from the first users, 'y' are from the second users.

### Merge current dataset with 'message' information

In [299]:
match_message = match_con.merge(messages, left_on = 'matchid', right_index=True, how='left')

In [300]:
match_message.head()

,matchid,type,when,userid,accept,profile.active,profile.about,profile.interested_in,profile.age,profile.type,...,score,votes_given,push.enable,uninstalled,previousRank,powerVotes,profile.genders,num_messages,message_user1,message_user2
44,3dW7GiDhrHkwWMhpw,fuck,2018-01-26 03:29:43,GwGrZZx8tZ8v3iqtK,zEoZzZRsWeZWXPesZ,False,,male,21.0,marry,...,25.0,3207.0,True,False,"{""fuck"":416,""marry"":116,""kill"":437}",3.0,0.0,NaN,NaN,NaN
67,2dj3kWEydfd8RhGkW,fuck,2017-08-16 22:13:27,w4CtanXEcAoMssst6,dnkQnCDAgWNYWf95H,True,Instagram: violarebeccaa,male,19.0,fuck,...,0.0,42.0,False,False,"{""fuck"":65,""marry"":81,""kill"":600}",3.0,0.0,NaN,NaN,NaN
145,2A75tRsmeSB6kcgcb,fuck,2017-11-29 11:17:27,HLHhxbf5CcALzwJ3z,gpuvz348pHd6c7CW7,False,,male,21.0,marry,...,25.0,879.0,False,True,"{""fuck"":1022,""marry"":998,""kill"":27}",3.0,0.0,NaN,NaN,NaN
165,3egRjvvAHTh9MkzAu,fuck,2018-11-05 17:28:32,Jyk3h7zvJANcmJqw4,oRhbA7HZgt2E95FdB,False,,female,27.0,fuck,...,25.0,4796.0,False,False,"{""fuck"":354,""marry"":831,""kill"":2815}",0.0,1.0,2.0,1.0,1.0
167,2AwexeF5EsXceYTxR,fuck,2016-11-07 21:54:01,KjoXmEpMYRYYuiig3,zsQ7NMMLxCik2W9ZB,False,,male,26.0,marry,...,25.0,2404.0,True,True,"{""fuck"":0,""marry"":0,""kill"":0}",3.0,0.0,NaN,NaN,NaN

In [213]:
match_message.shape#[0].compute()

585642

### Build target vector: real matches

In [317]:
all_con = pd.read_pickle('dataset/match_message.pkl')

In [319]:
all_con.head()

,to,from,type,when_x,profile.active,profile.about,profile.interested_in,profile.age,profile.type,profile.pos.coordinates,...,push.enable,uninstalled,previousRank,powerVotes,profile.genders,matchid,when_y,userid,accept,num_messages
0,mNxJxtSxDdBbTk5Ys,qpAL5TTco2ngd5MEP,kill,2017-11-13 08:46:09,False,come on,female,26.0,neutral,"[0,0]",...,True,True,0,3.0,1.0,NaN,NaT,NaN,NaN,NaN
1,o6qjf5jRE8pojbtj7,9BWsYf2ZwkvCEhAHj,marry,2018-03-10 01:53:25,False,insta -> biamaia_19,male,20.0,fuck,"[-7.9711585,40.7263597]",...,False,True,"{""fuck"":470,""marry"":470,""kill"":470}",0.0,0.0,NaN,NaT,NaN,NaN,NaN
2,ZZcno9u7Ar6HwCwaF,wRLJrt4835QrSfH6A,kill,2017-02-12 23:30:40,False,,female,23.0,marry,"[6.7947676,50.8113247]",...,True,True,0,3.0,1.0,NaN,NaT,NaN,NaN,NaN
3,zuCFfviDzDmay65cS,tHqJvGu4gr8KyzoTL,fuck,2017-11-22 10:26:26,False,,female,29.0,fuck,"[-9.2115885,38.7417719]",...,True,True,"{""fuck"":2816,""marry"":2990,""kill"":1575}",0.0,1.0,NaN,NaT,NaN,NaN,NaN
4,wP5x9ezFuSDGFHg4z,BW4enJFd56AnAMbeW,kill,2017-11-20 18:09:04,False,,female,23.0,fuck,"[-8.1415383,41.6335751]",...,True,True,"{""fuck"":2462,""marry"":2462,""kill"":2462}",3.0,1.0,NaN,NaT,NaN,NaN,NaN

In [318]:
suc_match=[]
for i in range(len(all_con)):
    if (all_con.num_messages[i] >= 5)&(all_con.message_user1[i] >= 2)&(all_con.message_user2[i] >= 2):
        suc_match.append(1)
    else:
        suc_match.append(0)

#all_con2['suc_match'] = suc_match
#all_con2['suc_match'].head()

AttributeError: 'DataFrame' object has no attribute 'message_user1'

## Evaluate model

In [108]:
from sklearn.model_selection import cross_validate
from sklearn.metrics import SCORERS
from sklearn.model_selection import train_test_split

In [28]:
SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'accuracy', 'roc_auc', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'brier_score_loss', 'adjusted_rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted'])

In [ ]:
def evaluate_model(model, X, y, metrics):
    score = cross_validate(
        estimator = model,
        X = X,
        y = y,
        scoring = metrics,
        cv = 5
    )

In [74]:
match_user2.columns

Index(['matchid', 'first', 'second', 'type', 'disabled', 'unread', 'when',
       'last_action', 'hidden', 'firstMessage.userid', 'message', '_id_x',
       'profile.active_x', 'profile.about_x', 'profile.interested_in_x',
       'profile.age_x', 'profile.type_x', 'profile.pos.coordinates_x',
       'profile.fromInstagram_x', 'profile.fromFacebook_x',
       'profile.unirace_x', 'profile.purchased_x', 'profile.subscription_x',
       'profile.boosted_x', 'profile.lang_x', 'profile.record_streak_x',
       'profile.actual_streak_x', 'firstSeen_x', 'lastLogin_x', 'score_x',
       'votes_given_x', 'push.enable_x', 'uninstalled_x', 'stats_x',
       'previousRank_x', 'powerVotes_x', 'profile.genders_x', '_id_y',
       'profile.active_y', 'profile.about_y', 'profile.interested_in_y',
       'profile.age_y', 'profile.type_y', 'profile.pos.coordinates_y',
       'profile.fromInstagram_y', 'profile.fromFacebook_y',
       'profile.unirace_y', 'profile.purchased_y', 'profile.subscription_y',
       'profile.boosted_y', 'profile.lang_y', 'profile.record_streak_y',
       'profile.actual_streak_y', 'firstSeen_y', 'lastLogin_y', 'score_y',
       'votes_given_y', 'push.enable_y', 'uninstalled_y', 'stats_y',
       'previousRank_y', 'powerVotes_y', 'profile.genders_y'],
      dtype='object')

In [84]:
X = match_user2.drop(['matchid', 'first', 'second', 'type', 'disabled', 'unread', 'when','last_action', 
                                 'hidden', 'firstMessage.userid', 'message', '_id_x', 'profile.about_x', 
                                 'profile.record_streak_x', 'profile.actual_streak_x', 'stats_x', 'previousRank_x',
                                '_id_y', 'profile.about_y', 'profile.record_streak_y','profile.actual_streak_y',
                                'stats_y','previousRank_y'], axis=1)

In [85]:
X.head()

,profile.active_x,profile.interested_in_x,profile.age_x,profile.type_x,profile.pos.coordinates_x,profile.fromInstagram_x,profile.fromFacebook_x,profile.unirace_x,profile.purchased_x,profile.subscription_x,...,profile.boosted_y,profile.lang_y,firstSeen_y,lastLogin_y,score_y,votes_given_y,push.enable_y,uninstalled_y,powerVotes_y,profile.genders_y
0,False,male,31.0,marry,"[15.1774321,44.2340273]",True,True,True,True,True,...,False,0,2018-05-03 17:53:20,2019-01-29 21:43:04,25.0,1104.0,True,False,0.0,1.0
1,False,male,21.0,fuck,"[-8.6440857,41.1542656]",True,True,True,True,True,...,False,0,2017-10-31 13:52:57,2018-06-03 13:52:16,25.0,411.0,True,True,3.0,1.0
2,True,0,0.0,0,0,True,True,True,True,True,...,True,0,2017-07-03 01:31:12,2017-07-11 02:27:58,0.0,342.0,True,True,3.0,1.0
3,False,female,24.0,marry,"[0,0]",True,True,True,True,True,...,False,0,2019-03-26 14:42:21,2019-04-01 13:50:59,25.0,51.0,True,False,3.0,0.0
4,False,male,18.0,neutral,"[-9.1390814,39.4100415]",True,True,True,True,True,...,False,0,2018-01-29 18:05:50,2018-02-22 02:01:31,25.0,1988.0,True,True,3.0,1.0

## Baseline model

recommends 3 users randomly

In [314]:
import random
allcon = pd.read_pickle("dataset/clean_connections.pkl")

In [315]:
def random_connect_rec(user):
    usercon = allcon[allcon['from']==user]
    ran_user = random.sample(usercon['to'].unique().tolist(), k=3)
    return(ran_user)

In [316]:
random_connect_rec('baM9toF9tGmbYDmBn')

['ZgrGFfajY3avcMyB8', 'DTjMttT4z4vhikhk4', 'GASHHaP9RfE75FKEy']

## Calculate similarities

### 1. content-filtering

For each user, calculate the similarities between the user and people who have made connections with the user. 

Select 3 people with the highest similarity to the user to recommend.

First, calculate similarity only from profile information.

In [288]:
import warnings
warnings.simplefilter("ignore")

Vectorize texts

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

Remove stopwords

In [9]:
import json

stop_list = ["en", "ru", "de", "pt", "es"]
stop = []
for lan in stop_list:
    with open("dataset/" + lan + ".json") as fname:
        stop.append(json.load(fname))

stopwords = []       
for lan in stop:
    for word in lan:
        stopwords.append(word)
        
len(stopwords)

2690

In [235]:
vectorizer = TfidfVectorizer(stop_words=stopwords, strip_accents = 'unicode')

In [6]:
con_user = pd.read_pickle('dataset/con_user.pkl')

In [11]:
n_records = len(con_user)
missing_values_df(con_user)

NameError: name 'missing_values_df' is not defined

In [ ]:
## would have a merged dataset 'con_user' with all connections and user information merged

vectorized_text = vectorizer.fit_transform(con_user['profile.about']).toarray()
vectorized_text.shape

In [287]:
users_text_processed = pd.DataFrame(vectorized_text,
                                  columns=vectorizer.get_feature_names())
users_text_processed.columns.tolist()[:10]

['01', '10', '13', '15', '16', '165', '18', '183', '186', '188']

In [278]:
np.array(pd.DataFrame(users_text_processed.iloc[0]).T)

array([[0., 0., 0., ..., 0., 0., 0.]])

Concatenate vectorized text to the users

In [352]:
user_profile = pd.concat([con_user[['from', 'to']], users_text_processed], axis=1)

KeyboardInterrupt:

Calculate cosine similarity

In [75]:
import faiss
import numpy as np
import sklearn.preprocessing

In [310]:
def get_profile_vec(user, item_list):
    user_ls = []
    user_array = []
    item_list.insert(0, user)
    for user in item_list:
        if user in users['_id'].tolist():
            user_ls.append(users[users['_id']==user]['profile.about'].tolist())
    for ls in user_ls:
        for pro in ls:
            user_array.append(pro)
    user_array = pd.Series(user_array)
    
    # check if the vocabulary is empty (profile information for everyone is missing)
    empty = sum(user_array=='')
    if empty != len(user_array): 
    # vectorize text
        vectorizer = TfidfVectorizer(stop_words=stopwords, strip_accents = 'unicode', max_features = 100)
        vectorized_text = vectorizer.fit_transform(user_array).toarray()
        users_text_processed = pd.DataFrame(vectorized_text,
                                      columns=vectorizer.get_feature_names())
        user_pro = pd.DataFrame(users_text_processed.iloc[0]).T
        item_pro = users_text_processed.iloc[1:]
        return(user_pro, item_pro)
    else:
        return([],[])

In [213]:
import random

In [311]:

#for user in user_profile['from'].unique().tolist():
def sim_user(user):
    
    # calculate similarity score between user and those who the user has made connections with 
    # rank people based on similarity scores (descending) and recommend 3 highest one
    # xq contains user information 
    # xb contains item information
    # use cosine similarity 
    
    #xq = user_profile[user_profile['from']==user].drop(['from', 'to'], axis=1)
    grouped = user_profile.groupby(['from', 'to'], as_index=False).sum()
    user_list = grouped[grouped['from']==user]['to'].tolist()
    xq, xb = get_profile_vec(user, user_list)
    
    xq = np.array(xq).astype('float32')
    
    # reassign 'user_list' because the user himself was added to the list
    user_list = grouped[grouped['from']==user]['to'].tolist()
        
    # make sure vocabulary is not empty    
    if len(xb) > 0:  
        xb = np.ascontiguousarray(xb.to_numpy()).astype('float32')
        d = xq.shape[1]

        # normalize vectors
        xb = sklearn.preprocessing.normalize(xb, axis=1)

        # build index
        index = faiss.IndexFlatIP(d)

        # add vectors to index
        index.add(xb)

        # search k nearest neighbors
        k = min(index.ntotal, 3)
        D, I = index.search(xq, k)
        
        # I should have size (1,k), with numbers representing the index of people in 'user_list'
        # D should have size (1,k), with numbers representing the similarity scores
        
        # Find according 'item' names
        recommend = []
        for ls in I:
            for i in ls:
                recommend.append(user_list[i]) 
        return(recommend)
    else:
        print('No profile information available, recommending people at random:')
        rand_rec = random.sample(user_list, min(len(user_list), 3))
        return(rand_rec)

In [192]:
sklearn.preprocessing.normalize?

In [327]:
sim_user('zkPez7FYZATgmPrdo')

['4BrfJnjmcwa3726Js', 'ShPZw3mFeoRnAZfFb', 'JzSwHCYMXSfKHDR2i']

In [313]:
sim_user('zKi9fwcywtzemKAjy')

No profile information available, recommending people at random:

['5KD8WQtgMhHxekY6S', 'JpoGM6HBLDgchFB75']

### 2. collaborative filtering

In order to recommend, we calculate for each candidate the average similarity between the candidate and those who have matched with the user. The user with the highest average similarity should be recommended.